* {
    box-sizing: border-box;
}

body {
    max-width: 400px;
    margin: 0 auto;
    background-color: #e9967a;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: center;
}

h1 {
    font-size: 40px;
    color: #ffffff;
}

ul {
    border-radius: 10px;
    padding: 10px;
    box-shadow: #e98155 5px 5px;
    background-color: #ffffff;
    list-style: none;
}

.recipe-link a {
    display: block;
    border-radius: 5px;
    padding: 5px 0;
    font-size: 20px;
    color: #e98155;
    text-decoration: none;
}

.recipe-link a:hover {
    box-shadow: #e98155 2px 2px;
    background-color: #e9967a;
    color: #ffffff;
}
